*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /*-------------- Basic Classes --------------*/

h1,h2,h3,h4{
    font-family: Exo;
    font-weight: 600;
    font-style: SemiBold;
    text-transform: capitalize;

}
p{
    font-family: Jost;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
}
a{
    font-family: Jost;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;

}
  /* --------End Basic Classes----------- */


 /* --------Laptop Screen---------- */

header{
    nav{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 72px;
        padding: 0 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFFF;
        .bars{
            display: none;
        }

        a{
           text-decoration: none;
           color: #000000;
            font-family: Exo;
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            vertical-align: middle;
            text-transform: capitalize;
        }

        ul{
            list-style: none;
            display: flex;
            gap: 40px;
            li{
                font-family: Exo;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 16px;
                line-height: 120%;
                .menu{
                    display: none;
                }

                i{
                   font-size: 12px;
                    margin-left:10px ;
                }
            }
            .hover-m:hover .menu{
                display: flex;
                position: absolute;
                left: 48%;
                gap: 20px;
                margin-top: 3px;
            }


        }

        .log-reg-ser{
            font-family: Jost;
            font-weight: 500;
            font-style: Medium;
            font-size: 18px;
            line-height: 150%;
            display: flex;
            align-items: center;
            gap: 20px;
            a{
                margin-top: 12px;
                font-family: Jost;
                font-weight: 500;
                font-style: Medium;
                font-size: 18px;
                line-height: 150%;
                text-transform: capitalize;

            }
            span :hover{
            color:#FF782D ;
        
            }
        }
        ul li :hover{
            color: #FF782D;
        }

    }
}

.breadcrumb{
    height: 60px;
    background-color: #F5F5F5;
    margin-top: 72px;
    padding:18px 70px ;
    .Homepage-Course{
        display: flex;
        align-items: center;
        gap: 8px;
        a{
            color: #555555;
            text-decoration: none;
        }
        i{
            width: 16px;
            height: 16px;
            color: #9D9D9D;
        }
        .aa{
            color: #9D9D9D;
        }
    }
}

main{
    .AllCourses{
        padding: 56px 5.1% 5.1%;
        padding-bottom: 0;
        .topside{
            display: flex;
            justify-content: space-between;
            height: 43px;
            h1{
                font-size: 36px;
                line-height: 120%;
            }
            .search-icon{
                max-width: 350px;
                display: flex;
                gap: 20px;
                .search{
                    width: 270px;
                    position: relative;
                    input{
                        width: 100%;
                        height: 31px;
                        border: none;
                        border-bottom: 1px solid #000000 ;
                    }
                    input::placeholder{
                        font-family: Jost;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 18px;
                        line-height: 150%;
                        color: #9D9D9D;

                    }
                    i{
                        position: absolute;
                        top:10% ;
                        right: 2px;
                    }
                }
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .cards-6{
            
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 35px;
            margin-top: 50px;
            .card{
                max-width: 385px;
                max-height: 474px;
                border: 1px solid #EAEAEA ;
                border-radius: 20px 20px 0 0;
                
                .img{
                    max-width: 385px;
                    display: flex;

                    img{
                        width: 100%;
                        border-radius: 20px 20px 0 0;
                    }
                    button{
                        width: 114px;
                        height: 40px;
                        gap: 10px;
                        border-radius: 8px;
                        border: none;
                        background-color: #000000;
                        color: #FFFFFF;
                        font-family: Jost;
                        font-weight: 500;
                        font-style: Medium;
                        font-size: 16px;
                        line-height: 150%;
                        text-transform: capitalize;
                        padding: 8px 12px;
                        position: absolute;
                        margin: 20px;
                        cursor: pointer;
                        

                    }
                    button:hover{
                        color: #FF782D;
                        transform: translateX(4px) translateY(4px);
                        /* transform: translateY(5PX); */
                    }
                }
                .h-p{
                    max-width: 345px;
                    margin: 20px 20px 16px 20px;
                    span{
                        font-family: Jost;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        color: #555555;
                }
                p{
                    font-size: 16px;
                    line-height: 150%;
                    vertical-align: middle;
                    color: #000000;
                    margin-bottom: 12px;

                }
                h4{
                    font-size: 20px;
                    line-height: 120%;
                    text-transform: capitalize;
            }
                }
                .date-corse{
                    max-width: 214px;
                    display: flex;
                    gap: 40px;
                    margin-left: 20px;
                    .time{
                        max-width: 54px;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        img{
                            width: 16px;
                            height: 16px;
                        }
                        p{
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 150%;
                        }
                    }
                    .num{
                        /* max-width: 88px; */
                        display: flex;
                        gap: 8px;
                        align-items: center;
                        img{
                            width: 16px;
                            height: 16px;
                        }
                        p{
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 150%;
                        }
                    }
                }
                .price{
                    max-width: 345px;
                    border-top: 1px solid #EAEAEA;
                    margin:16px 20px 0 20px;
                    display: flex;
                    justify-content: space-between;
                    padding: 16px 0 20px;
                    .pri{
                        display: flex;
                        gap: 8px;
                        del{
                            font-family: Jost;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 150%;
                            color: #9D9D9D;
                        }
                        a{
                            font-family: Jost;
                            font-weight: 500;
                            font-style: Medium;
                            font-size: 18px;
                            line-height: 150%;
                            color: #55BE24;
                            text-decoration: none;
                        }
                    }
                    a{
                        font-family: Jost;
                        font-weight: 500;
                        font-style: Medium;
                        font-size: 18px;
                        line-height: 150%;
                        text-align: right;
                        color: #000000;
                        text-decoration: none;
                    }
                    .a1:hover{
                        color: #FF782D;
                    }
                }
        
            }
        }
    }
    .scrol{
        height: 188px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 7px;
        
    
        .circle-5{
            max-width: 288px;
            height: 48px;
            display: flex;
            gap: 12px;
            .a{
                width: 48px ;
                height: 48px;
                border: 1px solid #EAEAEA;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            a{
                text-decoration: none;
                color: #000000;
            }
            .a:hover{
                background-color: #000000;
                color: #FFFFFF;
            }
            
        }

    }      
}

footer{
    padding:   50px 5.1%;
    background-color: #F5F5F5;
    .card-4{
        height: 281px;
        display: flex;
        justify-content: space-between;
        .card1{
            max-width: 412px;
            img{
                width: 166px;
                height: 30px;
            }
            p{
                max-width: 341px;
                font-size: 18px;
                line-height: 150%;
                margin-top: 32px;

            }
        }
        .card2{
            h4{
                font-size: 20px;
                line-height: 120%;
                text-transform: capitalize;
                margin-bottom: 32px;
            }
            ul{
                list-style: none;
                a{
                    text-decoration: none;
                    font-family: Jost;
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 18px;
                    line-height: 250%;
                    text-transform: capitalize;
                    color: #555555;
                }
            }
        }
        .card2 a:hover{
            color:#FF782D ;
        }
        .card4{
            max-width: 340px;
            h4{
                font-style: SemiBold;
                font-size: 20px;
                line-height: 120%;
                text-transform: capitalize;
                margin-bottom: 32px;
            }
            .p-p-logos{
                display: flex;
                flex-direction: column;
                gap: 16px;
                p{
                    font-size: 18px;
                    line-height: 150%;
                }
            }
            .logo{
                width: 148px;
                display: flex;
                gap: 12px;
            }
        }
    }
    .copyright{
        display: flex;
        justify-content: center;
        padding-top: 50px ;
        p{
            width: 452px;
            height: 27px;
            font-size: 18px;
            line-height: 150%;
        }
    }

}
/* -----------End Laptop Screen---------- */


/* -------------Mobile Screen------------ */

@media screen and (max-width:992px){
    header{

        nav{
            ul{
                display: none;
            }
            .log-reg-ser{
                display: none;
            }
            .bars{
                display: inline;
            }
            padding: 30px 20px;
        }
    }
    .breadcrumb{
        padding: 18px 20px ;
    }
    main{
    .AllCourses{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        .topside{
            max-width: 320px;
            height: 101px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            margin-top: 56px;
            h1{
                font-size: 32px;
                line-height: 120%;
                
            }
            .search-icon{
                max-width: 239px;

            }
        }
        .cards-6{
            max-width: 320px;
            height: auto;
            display: flex;
            flex-direction: column;        
        }

    } 
    
    }
    .scrol{
        height: 188px;
        display: flex;
        align-items: center;
        justify-content: center;
        

    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-4{
            max-width: 320px;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 30px;

        }
        .copyright{
            max-width: 320px;
            p{
                text-align: center;
            }
        }
    }

}
/* ---------End Mobile Screen-------------- */