*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jost;
}
    /*-------------- Basic Classes --------------*/
h1,h2,h3,h4,h5{
    font-family: Exo;
    font-weight: 600;
    font-style: SemiBold;
    text-transform: capitalize;
    color: #000000;

}
p{
    font-family: Jost;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
    color: #555555;
}
a{
    font-family: Jost;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;

}
.butt{
    max-width: 549px;
    height: 48px;
    border-radius: 24px;
    border: none;
    padding: 10px 24px ;
    background-color: #FF782D;
    color: #FFFFFF;
    font-family: Jost;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    cursor: pointer;
} 
.butt:hover{
    background-color: #ff762d00;
    color: #FF782D;
    border: 2px solid #FF782D;
    padding: 0;
    
}
  /* --------End Basic Classes----------- */

 /* --------Laptop Screen---------- */
header{
    nav{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 72px;
        padding: 0 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFFFFF;
        .bars{
            display: none;
        }

        a{
           text-decoration: none;
           color: #000000;
           font-family: Exo;
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            vertical-align: middle;
            text-transform: capitalize;

        }

        ul{
            list-style: none;
            display: flex;
            gap: 40px;
            li{
                font-family: Exo;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 16px;
                line-height: 120%;
                .menu{
                    display: none;
                }

                i{
                   font-size: 12px;
                    margin-left:10px ;
                }
            }
            .hover-m:hover .menu{
                display: flex;
                position: absolute;
                left: 48%;
                gap: 20px;
                margin-top: 3px;
            }


        }

        .log-reg-ser{
            font-family: Jost;
            font-weight: 500;
            font-style: Medium;
            font-size: 18px;
            line-height: 150%;
            display: flex;
            align-items: center;
            gap: 20px;
            a{
                margin-top: 12px;
                font-family: Jost;
                font-weight: 500;
                font-style: Medium;
                font-size: 18px;
                line-height: 150%;
                text-transform: capitalize;
            }
            span :hover{
            color:#FF782D ;
        
            }
        }
        ul li :hover{
            color: #FF782D;
        }

    }
}
.breadcrumb{
    height: 60px;
    background-color: #F5F5F5;
    margin-top: 72px;
    padding:18px 70px ;
    .Homepage-Login-Register{
        display: flex;
        align-items: center;
        gap: 8px;
        a{
            color: #555555;
            text-decoration: none;
        }
        i{
            width: 16px;
            height: 16px;
            color: #9D9D9D;
        }
        .aa{
            color: #9D9D9D;
        }
    }
}
main{
    section{
        width: 100%;
        padding: 0 5.1%;
        margin-top: 56px;
        margin-bottom: 70px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px; 
        .log{
            max-width: 609px;
            height: 406px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border: 1px solid #EAEAEA;
            border-radius: 20px;
            background-color: #FFFFFF;
            h2{
                    font-size: 32px;
                    line-height: 120%;
                    margin-bottom: 10px;
            }
            input{
                    max-width: 549px;
                    height: 48px;
                    padding: 10.5px 16px;
                    border: 1px solid #9D9D9D;
                    border-radius: 8px;
            }
            .input-pass{
                    max-width: 549px;
                    display: flex;
                    position: relative; 
                     input{
                        width: 100%;
                        max-width: 549px;
                        height: 48px;
                        padding: 10.5px 16px;
                        border: 1px solid #9D9D9D;
                        border-radius: 8px;
                        
                    }
                    img{
                        position: absolute;
                        top: 25%;
                        left: 92%;
                    }
                    img:hover{
                        cursor: pointer;
                    }
            }
            .check{
                    height: 27px;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    label{
                        font-family: Jost;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 150%;
                        color: #555555;
                    }
                    label:hover{
                        cursor: pointer;
                    }
            }
            a{
                    font-family: Jost;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    color: #000000;

            }
        }
        .reg{
                max-width: 585px;
                height: 448px;
                padding: 30px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                border: 1px solid #EAEAEA;
                border-radius: 20px;
                h2{
                    font-size: 32px;
                    line-height: 120%;
                    margin-bottom: 10px;
                }
                input{
                    max-width: 549px;
                    height: 48px;
                    padding: 10.5px 16px;
                    border: 1px solid #9D9D9D;
                    border-radius: 8px;
                }
                .input-pass{
                    max-width: 549px;
                    display: flex;
                    position: relative; 
                     input{
                        width: 100%;
                        max-width: 549px;
                        height: 48px;
                        padding: 10.5px 16px;
                        border: 1px solid #9D9D9D;
                        border-radius: 8px;
                        
                    }
                    img{
                        position: absolute;
                        top: 25%;
                        left: 93%;
                    }
                    img:hover{
                        cursor: pointer;
                    }
                }
        }  
    }
}
footer{
    padding:   50px 5.1%;
    background-color: #F5F5F5;
    .card-4{
        height: 281px;
        display: flex;
        justify-content: space-between;
        .card1{
            max-width: 412px;
            img{
                width: 166px;
                height: 30px;
            }
            p{
                max-width: 341px;
                font-size: 18px;
                line-height: 150%;
                margin-top: 32px;

            }
        }
        .card2{
            h4{
                font-size: 20px;
                line-height: 120%;
                text-transform: capitalize;
                margin-bottom: 32px;
            }
            ul{
                list-style: none;
                a{
                    text-decoration: none;
                    font-family: Jost;
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 18px;
                    line-height: 250%;
                    text-transform: capitalize;
                    color: #555555;
                }
            }
        }
        .card2 a:hover{
            color:#FF782D ;
        }
        .card4{
            max-width: 340px;
            h4{
                font-style: SemiBold;
                font-size: 20px;
                line-height: 120%;
                text-transform: capitalize;
                margin-bottom: 32px;
            }
            .p-p-logos{
                display: flex;
                flex-direction: column;
                gap: 16px;
                p{
                    font-size: 18px;
                    line-height: 150%;
                }
            }
            .logo{
                width: 148px;
                display: flex;
                gap: 12px;
            }
        }
    }
    .copyright{
        display: flex;
        justify-content: center;
        padding-top: 50px ;
        p{
            width: 452px;
            height: 27px;
            font-size: 18px;
            line-height: 150%;
        }
    }

}
/* -----------End Laptop Screen---------- */

/* -------------Mobile Screen------------ */
@media screen and (max-width:992px){
    header{

        nav{
            ul{
                display: none;
            }
            .log-reg-ser{
                display: none;
            }
            .bars{
                display: inline;
            }
            padding: 30px 20px;
        }
    }
    .breadcrumb{
        padding: 18px 20px ;
    }
    main{
        section{
            padding: 0 6.25%;
            display: flex;
            flex-direction: column;
            align-items: center;  
            .log{
                width: 100%;
            }
            .reg{
                width: 100%;
            }
        }
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-4{
            max-width: 320px;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        .copyright{
            max-width: 320px;
            p{
                text-align: center;
            }
        }
    }
}
/* ---------End Mobile Screen-------------- */